/* 
    메인 color 
    #1a2d66
*/
mark{background-color: transparent;}


/* font Poppins */
.mainArea div h2 strong,
.mainPrincipleArea ol li::before,
.mainCompanyArea figcaption h2
{font-family: 'Poppins', sans-serif; letter-spacing: -2px;}




@media screen and (max-width: 639px){
html{font-size: 2.5vw;}

    /* 플러스 버튼 */
.plusBtn{display: inline-block; font-size: 1.250rem; width: 10.000rem; height: 3.000rem; color: white; font-weight: 700; padding: 0 1.250rem; background-color: #1a2d66; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; border-radius: 100px;}
.plusBtn::after{content: ''; width: 0.875rem; height: 0.875rem; background: url('../images/plusBtnIcon.png') no-repeat center center / cover;}

/* width 100& - 11.875rem */
/* header , */ .mainTopArea{width: 100%;}

header{position: fixed; left: 0; top: 0;  height: 6.250rem; display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 1.875rem; box-sizing: border-box; z-index: 100; background-color: white; border-bottom: 1px solid #dcdcdc;}
header .menuBtn{display: block; width: 2.813rem; cursor: pointer; }
header .menuBtn span{display: block; width: 100%; height: 0.188rem; background-color: #1a2d66; transition: 0.5s transform;}
header .menuBtn span:not(:last-of-type){margin-bottom: 0.750rem;}
header .menuBtn.active span:first-of-type{transform: translateY(0.469em) rotate(45deg);}
header .menuBtn.active span:nth-of-type(2){transform: translateY(-0.469em) rotate(-45deg);}
header h1{max-width: 11.875rem;}
header h1 img{width: 100%;}
header nav{position: fixed; left: 0; top: 6.250em; bottom: 0; width: 100%; display: none; flex-direction: column; justify-content: space-between; padding-top: 2.188rem; background-color: white;}
header nav.active{display: flex;}
header nav > ul.menuArea{width: calc(100% - 3.750rem); margin: 0 auto; flex: 1; overflow: auto;}
header nav > ul.menuArea::after{content: ''; position: absolute; left: 0; top: 1.250rem; width: calc(100% + 11.875rem); height: 0px; background-color: white; z-index: -1;}
header nav > ul.menuArea > li{position: relative; flex: 1; }
header nav > ul.menuArea > li > a{display: flex; justify-content: space-between; align-items: center; height: 100%; font-size: 1.500rem; font-weight: bold; color: #1a2d66; padding: 1.875rem 0; border-bottom: 1px solid #dcdcdc;}
header nav > ul.menuArea > li > a::after{content: ''; width: 1.313rem; height: 0.750rem; background: url('../images/mobileMenuIcon.png') no-repeat center center / cover; transition: 0.5s transform;}
header nav > ul.menuArea > li > a.active::after{transform: rotate(180deg);}
header nav > ul.menuArea > li.shoppingIcon{display: none;}
header nav > ul.menuArea > li.shoppingIcon a{}
header nav > ul.menuArea > li.shoppingIcon a::before{content: ''; width: 1.188rem; height: 1.375rem; background: url('../images/shoppingIcon.png') no-repeat center center; margin-right: 0.625rem;}
header nav > ul.menuArea > li.shoppingIcon a::after{content: ''; position: absolute; left: 0; bottom: 1.875rem; width: 100%; height: 1px; background: rgba(0,0,0,0.5);}
header nav > ul.menuArea > li > ul{display: none;}
header nav > ul.menuArea > li > ul li:first-child{padding-top: 1.875rem;}
header nav > ul.menuArea > li > ul li:last-child{padding-bottom: 1.875rem;}
header nav > ul.menuArea > li > ul li:not(:last-child){margin-bottom: 1.250rem;}
header nav > ul.menuArea > li > ul li a{display: block; font-size: 1.375rem; color: #969696;}
header nav > ul.mobileSns{display: flex;}
header nav > ul.mobileSns li{flex: 1; padding: 3.125rem 0;}
header nav > ul.mobileSns li a{display: block; text-align: center; background-repeat: no-repeat; background-position: center top; background-size: 3.250rem 3.250rem; padding-top: 5.000rem; font-size: 1rem; font-weight: 500; color: black;}
header nav > ul.mobileSns li:nth-child(1) a{background-image: url('../images/cacaoIcon.png');}
header nav > ul.mobileSns li:nth-child(2) a{background-image: url('../images/telIcon.png');}

aside{position: fixed; right: 2.875rem; bottom: 0; width: 3.438rem;  display: flex; align-items: flex-end; z-index: 100; }
aside ul{display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%; text-align: center; }
aside ul li{width: 100%;}
aside ul li a{display: block; width: 100%; padding-top: 4.063rem; background-repeat: no-repeat; background-position: center top; background-size: 3.250rem 3.250rem; font-size: 1rem; font-weight: 500; color: black;}
aside ul li:not(:last-of-type){display: none;}
aside ul li:nth-child(1) a{background-image: url('../images/cacaoIcon.png');}
aside ul li:nth-child(2) a{background-image: url('../images/telIcon.png');}
aside ul li:nth-child(3) a{background-image: url('../images/topIcon.png');}
aside ul li a{font-size: 1rem; font-weight: 500;}

footer{background-color: #22283c; color: white;}
footer > div{padding: 5.000rem 0;}
footer > div > div{margin-bottom: 7.813rem;}
footer > div > div > ul{display: flex; justify-content: center; margin-bottom: 5.000rem;}
footer > div > div > ul li:not(:last-child){margin-right: 3.125rem;}
footer > div > div > ul li a{font-size: 1.500rem; color: white;}
footer > div > div > div{display: flex; flex-direction: column; align-items: center;}
footer > div > div > div > ul{display: flex; padding-bottom: 0.625rem; border-bottom: 1px solid rgba(255, 255, 255, 0.15); margin-bottom: 1.875rem;}
footer > div > div > div > ul li{display: flex; align-items: center;}
footer > div > div > div > ul li:not(:first-child)::before{content: ''; width: 0.313rem; height: 0.313rem; margin: 0 1.250rem; border-radius: 100%; background-color: rgba(255, 255, 255, 0.15);}
footer > div > div > div > ul li a{font-size: 1.250rem; font-weight: 400; color: #8189a1;}
footer > div > div > div > a{width: 21.250rem; height: 4.688rem; color: black; font-size: 1.500rem; font-weight: 900; padding: 0 1.875rem; background-color: white; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; border-radius: 100px;}
footer > div > div > div > a::before{content: ''; width: 2.375rem; height: 2.375rem; background: url('../images/telIcon02.png') no-repeat center / cover;}
footer h2{max-width: 13.625rem; margin-bottom: 2.188rem; text-align: center; margin: 0 auto;}
footer h2 img{width: 100%;}
footer address{font-size: 1.375rem; font-weight: 400; color: white; line-height: 2.313rem; font-style: normal; display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 1.875rem;}
footer address *{font-weight: 400;}
footer address h3{width: 100%; text-align: center;}
footer address div{display: flex; margin:0 0.938rem; text-align: center;}
footer address div h4::after{content: ':';}
footer > div > p{font-style: 1.375rem; font-weight: 400; color: #6f7483; text-align: center;}

/* 메인 컨텐츠 크기 */
.mainContentsW{width: calc(100% - 3.750rem); margin: 0 auto; padding: 7.500rem 0;}

/* 메인 타이틀 */
.mainContentsW h2{font-size: 2.688em; font-weight: 700; color: #1a2d66; text-transform: uppercase; display: flex; align-items: flex-end; margin-bottom: 3.125rem; letter-spacing: -2px;}
.mainContentsW h2 small{font-size: 1.625rem; color: black; margin-left: 1.563rem; letter-spacing: -2px;}

/* 메인 상단 */
.mainTopArea{height: 63.125rem; background: url('../images/mainBG.png') no-repeat center top / cover; display: flex; align-items: flex-end; margin-top: 1.250rem; margin-bottom: 29.375rem;}
.mainTopArea div{width: 35.000rem; display: flex; justify-content: flex-end; position: relative; top: 18.125rem;}
.mainTopArea div::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background-color: white;}
.mainTopArea div h2{font-size: 1.625rem; font-weight: 700; color: #1a2d66; text-align: right;padding: 3.125rem 3.750rem 0; box-sizing: border-box; position: relative; z-index: 1;}
.mainTopArea div h2 strong{display: block; font-size: 5.625rem; font-weight: bold; line-height: 6.250rem;  text-transform: uppercase; margin-bottom: 1.563rem;}

/* 메인 슬라이더 */
.mainSliderArea{}
.mainSliderArea .swiper-container{text-align: center; width: 100%;}
.mainSliderArea .swiper-container img{width: 100%;}
.mainSliderArea .mainSliderContens{max-width: 83.438em; margin: 0 auto;}
.mainSliderArea .mainSliderContens img{width: 100%; max-width: 60.688rem;}
.mainSliderArea .mainSliderContens h2{font-size: 4.500rem; align-items: center;}
.mainSliderArea .mainSliderContens h2 a{margin-left: 1.250rem;}
.mainSliderArea .mainSliderContens p{font-size: 1.875rem; font-weight: 700; line-height: 3.000rem;}
.mainSliderArea .mainSliderContens span{display: block; font-size: 1.625rem; font-weight: 700; line-height: 3.000rem; color: #807f7f;}
.mainSliderArea .mainSliderContens span mark{font-weight: 700; color: black;}

/* 메인 구매 */
/* 메인 구매 */
/* .mainBuyArea{height: 53.125rem; background: url('../images/mainBuyBG.png') no-repeat center center / cover; display: flex; align-items: flex-end; justify-content: flex-end;} */
.mainBuyArea{position: relative; margin-bottom: 15.000rem;}
.mainBuyArea img{width: 100%;}
.mainBuyArea div{position: absolute; right: 0; top:calc(100% - 3.750rem); width: 30.000em; background-color: white; padding:2.500rem 13.125rem 3.750rem 2.500rem; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center;}
.mainBuyArea div h2{font-size: 3.125rem; font-weight: 400; color: #1a2d66; margin-bottom: 1.875rem; }
.mainBuyArea div .plusBtn{width:14.375rem;}

/* 메인  원리*/
.mainPrincipleArea{}
.mainPrincipleArea ol{}
.mainPrincipleArea ol li{ counter-incrrement: princCounter;  height: 20.313rem; border: 2px solid #bfbfbf; border-radius: 1.250rem; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; position: relative;}
.mainPrincipleArea ol li:not(:last-child){margin-bottom: 2.500rem;}
.mainPrincipleArea ol li::before{content:'STEP ' counter(princCounter); font-size: 1.375rem; font-weight: 700; color: #1a2d66; padding-bottom: 0.313rem; width: auto; border-bottom: 1px solid #1a2d66; word-spacing: 0.313rem; margin-bottom: 1.563rem;}
.mainPrincipleArea ol li p{padding: 8.750rem 1.875rem 0; max-width: 25.000rem; background-repeat: no-repeat; background-position: center top; background-size: 11.000rem 7.000rem; font-size: 1.500rem; line-height: 2.125rem;}
.mainPrincipleArea ol li:nth-child(1) p{background-image: url('../images/mainPrincipleIcon01.png')}
.mainPrincipleArea ol li:nth-child(2) p{background-image: url('../images/mainPrincipleIcon02.png')}
.mainPrincipleArea ol li:nth-child(3) p{background-image: url('../images/mainPrincipleIcon03.png')}
/* .mainPrincipleArea ol li:not(:last-child)::after{content: ''; position: absolute; right: calc(50% - 2.125rem); bottom: -3.438em;  width: 4.250rem; height: 4.250rem; background:url('../images/nextIcon.png') no-repeat center center / cover; z-index: 1;} */
.mainPrincipleArea ol li:not(:last-child)::after{content: ''; position: absolute; right: calc(50% - 2.563rem); bottom: -3.750rem;  width: 5.125rem; height: 5.125rem; background:url('../images/nextIcon02.png') no-repeat center center / cover; z-index: 1;}

/* 메인 임상실험 */
.mainResultArea{background-color: #f1f2f3;}
.mainResultArea h2{margin-bottom: 1.875rem;}
.mainResultArea article{padding: 3.750rem 0; border-width: 1px 0; border-style: solid; border-color: #cfd0d0; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; text-align: center; margin-bottom: 1.875rem;}
.mainResultArea article h3{font-size: 1.938rem; font-weight: 700; margin-bottom: 0.938rem; color: #1a2d66;}
.mainResultArea article p{font-size: 1.500rem; margin-bottom: 3.750rem; letter-spacing: -2px;}
.mainResultArea article div{max-width: 19.688rem; margin: 0 auto;}
.mainResultArea article div:not(:last-of-type){margin-bottom: 4.063rem;}
.mainResultArea article div img{margin-bottom: 1.875rem; width: 100%;}
.mainResultArea article div ul{margin-left: 2.188rem; padding-left: 1.250rem; border-left-width: 0.188rem; border-style: solid; text-align: left;}
.mainResultArea article div ul li{font-size: 1.500rem; }
.mainResultArea article div ul li:not(:last-child){margin-bottom: 0.938rem;}
.mainResultArea article div:nth-of-type(1) ul{border-color: #e98e24;}
.mainResultArea article div:nth-of-type(1) ul li mark{color: #e98e24;}
.mainResultArea article div:nth-of-type(2) ul{border-color: #1a2d66;}
.mainResultArea article div:nth-of-type(2) ul li mark{color: #1a2d66;}
.mainResultArea > div > ul li{font-size: 1.250rem; color: #959595; line-height: 1.875rem;}
.mainResultArea > div > ul li:not(:last-child){}

/* 메인 회사소개 */
.mainCompanyArea{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;  margin-bottom: 4.375rem;}
.mainCompanyArea figcaption{margin-bottom: 3.438em;}
.mainCompanyArea figcaption h2{line-height: 3.250rem; margin-bottom: 1.875rem;}
.mainCompanyArea figcaption > a{margin-bottom: 3.750rem;}
.mainCompanyArea figcaption strong{display: block; font-size: 1.500rem; line-height: 2.500rem; margin-bottom: 2.688rem;}
.mainCompanyArea figcaption p{font-size: 1.500rem; line-height: 2.500rem; color: #807f7f; }
.mainCompanyArea img{max-width: 42.375rem; width: 100%;}

/* 메인 게시판 */
.mainBoardArea{padding: 5.000rem 0; position: relative;}
.mainBoardArea h2{margin-bottom: 5.000rem;}
.mainBoardArea ul{display: flex; flex-wrap: wrap;}
.mainBoardArea ul li{width: 50%;}
.mainBoardArea ul li:nth-child(n + 3){margin-top: 5.000rem;}
.mainBoardArea ul li a p{font-size: 1.250rem; font-weight: 400; color: black; margin-bottom: 0.938rem; max-width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.mainBoardArea ul li a time{font-size: 1rem; font-weight: 900; color: #1a2d66;}
.mainBoardArea:not(:first-of-type){border-top: 2px solid black;}
.mainBoardArea > a{position: absolute; right: 0; top: 5.313em; width: 0.875rem; height: 0.875rem; background: url('../images/plusIocn.png') no-repeat center / cover; text-indent: -9999px;}
}
