/* 
    메인 color 
    #1a2d66
*/
mark{background-color: transparent;}

/* width 100& - 130px */
header , .mainTopArea{width: calc(100% - 130px);}

/* font Poppins */
.mainArea div h2 strong,
.mainPrincipleArea ol li::before,
.mainCompanyArea figcaption h2
{font-family: 'Poppins', sans-serif; letter-spacing: -2px;}

/* 플러스 버튼 */
.plusBtn{display: inline-block; width: 170px; height: 50px; color: white; font-weight: 700; padding: 0 25px; background-color: #1a2d66; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; border-radius: 100px;}
.plusBtn::after{content: ''; width: 14px; height: 14px; background: url('../images/plusBtnIcon.png') no-repeat center center / cover;}

header{position: fixed; left: 0; top: 0;  height: 130px; display: flex; justify-content: space-between; align-items: center; padding: 0 80px; box-sizing: border-box;}
header h1{max-width: 190px;}
header h1 img{width: 100%;}
header nav ul{display: flex; width: 500px; justify-content: space-between; align-items: center;}
header nav ul li a{font-size: 18px; font-weight: bold; color: #1a2d66;}
header nav ul li.shoppingIcon a{display: flex; align-items: center; position: relative;}
header nav ul li.shoppingIcon a::before{content: ''; width: 19px; height: 22px; background: url('../images/shoppingIcon.png') no-repeat center center; margin-right: 10px;}
header nav ul li.shoppingIcon a::after{content: ''; position: absolute; left: 0; bottom: -6px; width: 100%; height: 1px; background: rgba(0,0,0,0.5);}


aside{position: fixed; right: 0; top: 0; width: 130px; height: 100%; display: flex; align-items: flex-end;}
aside ul{display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: 100%; text-align: center; height: 320px; }
aside ul li{width: 100%;}
aside ul li a{display: block; width: 100%; padding-top: 65px; background-repeat: no-repeat; background-position: center top; background-size: 52px 52px; font-size: 16px; font-weight: 500; color: black;}
aside ul li:nth-child(1) a{background-image: url('../images/cacaoIcon.png');}
aside ul li:nth-child(2) a{background-image: url('../images/telIcon.png');}
aside ul li:nth-child(3) a{background-image: url('../images/topIcon.png');}
aside ul li a{font-size: 16px; font-weight: 500;}

footer{background-color: #22283c; color: white;}
footer > div{max-width: 1200px; margin: 0 auto; padding: 50px 0;}
footer > div > div{display: flex; justify-content: space-between; align-items: center; margin-bottom: 80px;}
footer > div > div > ul{display: flex;}
footer > div > div > ul li:not(:last-child){margin-right: 40px;}
footer > div > div > ul li a{font-size: 20px; color: white;}
footer > div > div > div{display: flex;}
footer > div > div > div > ul{display: flex; padding-bottom: 10px; border-bottom: 1px solid rgba(255, 255, 255, 0.15); margin-right: 40px;}
footer > div > div > div > ul li{display: flex; align-items: center;}
footer > div > div > div > ul li:not(:first-child)::before{content: ''; width: 5px; height: 5px; margin: 0 20px; border-radius: 100%; background-color: rgba(255, 255, 255, 0.15);}
footer > div > div > div > ul li a{font-size: 16px; font-weight: 400; color: #8189a1;}
footer > div > div > div > a{width: 285px; height: 60px; color: black; font-size: 20px; font-weight: 900; padding: 0 25px; background-color: white; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; border-radius: 100px;}
footer > div > div > div > a::before{content: ''; width: 31px; height: 31px; background: url('../images/telIcon02.png') no-repeat center / cover;}
footer h2{max-width: 192px; margin-bottom: 35px;}
footer h2 img{width: 100%;}
footer address{font-size: 18px; font-weight: 400; color: white; line-height: 33px; font-style: normal; display: flex; flex-wrap: wrap; margin-bottom: 25px;}
footer address h3{width: 100%;}
footer address div{display: flex; margin-right: 30px;}
footer address div h4::after{content: ':';}
footer > div > p{font-style: 18px; font-weight: 400; color: #6f7483;}

