@media screen and (max-width: 639px){
/* 고객센터 */
.servicePageArea > div{padding: 4.375em 0; background-color: #1a2d66; border-radius: 20px; margin-bottom: 5.000rem;  display: flex; flex-direction: column; align-items: center;}
.servicePageArea > div > *{max-width:33.750rem; text-align: center;}
.servicePageArea > div > p{font-size: 2.500rem; line-height: 3.375rem; font-weight: 100; color: white; display: flex; flex-direction: column; align-items: center; }
.servicePageArea > div > strong{font-size: 2.500rem; line-height: 3.375rem; font-weight: 100; color: white; font-weight: 700; margin-bottom: 3.750rem;}
.servicePageArea > div > strong span{border-bottom: 1px solid white;}
.servicePageArea > div ul{display: flex; width: 100%; flex-direction: column;}
.servicePageArea > div ul li{flex: 1; text-align: center; }
.servicePageArea > div ul li a{display: block; color: white; padding-top: 5.625rem; background-repeat: no-repeat; background-position: center top; background-size: 4.188em 3.750rem;}
.servicePageArea > div ul li:not(:last-child){margin-bottom: 3.750rem;}
.servicePageArea > div ul li:nth-child(1) a{background-image: url('../images/serviceIcon01.png');}
.servicePageArea > div ul li:nth-child(2) a{background-image: url('../images/serviceIcon02.png');}
.servicePageArea > div ul li:nth-child(3) a{background-image: url('../images/serviceIcon03.png');}
.servicePageArea > div ul li a p{font-size: 1.750rem; font-weight: 100; margin-bottom: 1.250rem;}
.servicePageArea > div ul li a strong{font-size: 1.938rem;}
.servicePageArea > ul{display: flex; flex-direction: column;}
.servicePageArea > ul li{height: 25.625rem; border: 1px solid #1a2d66; border-radius:20px; padding: 0 3.750rem; display: flex; flex-direction: column; justify-content: center; align-items: center; color: #1a2d66; text-align: center; box-sizing: border-box;}
.servicePageArea > ul li:not(:last-child){margin-bottom: 1.875rem;}
.servicePageArea > ul li strong{font-size: 2.500rem; padding-top: 6.250rem; margin-bottom: 1.250rem;  background-repeat: no-repeat; background-position: center top; background-size: 4.000rem 4.000rem;} 
.servicePageArea > ul li:nth-child(1) strong{background-image: url('../images/serviceIcon04.png');}
.servicePageArea > ul li:nth-child(2) strong{background-image: url('../images/serviceIcon05.png');}
.servicePageArea > ul li:nth-child(3) strong{background-image: url('../images/serviceIcon06.png');}
.servicePageArea > ul li p{font-size: 1.625rem; line-height: 2.375rem; font-weight: 100; margin-bottom: 2.188rem;}
}